@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");

:root {
  /* Primary */
  --Very-dark-blue: hsl(233, 47%, 7%);
  --Dark-desaturated-blue: hsl(244, 38%, 16%);
  --Soft-violet: rgb(170, 92, 219);

  /* Neutral */
  --White: hsl(0, 0%, 100%);
  --Slightly-transparent-white: hsla(0, 0%, 100%, 0.75);
  --Slightly-less-transparent-white: hsla(0, 0%, 100%, 0.6);
}

html {
  font-size: 15px;
}

body {
  height: 100vh;
  background-color: var(--Very-dark-blue);
  font-family: "Inter", sans-serif;
  color: var(--White);
}

.card {
  width: 90vw;
  background-color: var(--Dark-desaturated-blue);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  border-radius: 0.5rem;
}

img {
  width: 100%;
  border-radius: 0.5rem 0.5rem 0 0;
  /* margin-bottom: 1.2rem; */
  background-color: rgba(170, 92, 219, 0.2);
  position: relative;
  opacity: 1;
}

.tint {
  width: 100%;
  display: inline-block;
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  background-color: var(--Soft-violet);
  border-radius: 0.5rem 0.5rem 0 0;
  /* padding-bottom: 1.2rem; */
}

main {
  text-align: center;
  padding-inline: 2.2rem;
}

h1 {
  font-size: 1.85rem;
  margin: 1.25rem 0;
}

p {
  line-height: 1.5;
  color: var(--Slightly-less-transparent-white);
  font-size: 1rem;
}

strong {
  color: var(--Soft-violet);
}

.output {
  margin: 1rem;
  margin-top: 3rem;
}

.output h2 {
  margin: 0;
  margin-top: 0.8rem;
}

.output p {
  color: var(--Slightly-transparent-white);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 0.8rem;
  margin-bottom: 2rem;
  margin-top: 0.5rem;
}

/* attribution at the end of page */
.attribution {
  font-size: 11px;
  text-align: center;
  display: none;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
